.container {

    --complete-todo-action-min-height: 50px;
    --complete-todo-action-min-width: 50px;
    --base-color: #fff0e0;


    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 90vh;
    padding-top: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.workspace-selector-component {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: grid;
    height: 50px;
    max-height: 220px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
}

.workspace-selector-component.expanded {
    height: 100%;
    max-height: 220px;
    overflow: auto;

}

.workspace-selector-cta.hidden {
    display: none;
}

.workspace-item-close {
    justify-self: end;
    align-self: center;
    padding: 1rem;
}

.workspace-selector-cta,
.workspace-item,
.add-workspace-item {
    padding: 1rem;
    box-sizing: border-box;
    min-width: 10rem;
    flex: 0 0 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.workspace-selector-cta,
.selectedWorkspace {
    background: linear-gradient(to bottom, var(--base-color), #ffe5cf);
    font-weight: bold;
}

.workspace-selector-component button {
    background-color: white;
    border: 2px solid var(--base-color);
    border-radius: 5px;
    font-size: 0.5rem;
}

.workspace-selector-component input {
    background-color: white;
    border: 2px solid var(--base-color);
    border-radius: 5px;
    font-size: 0.7rem;
}



.add-todo-component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    height: 50px;
    overflow: hidden;
    background-color: white;
    border: 1px solid var(--base-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.add-todo-component.expanded {
    height: 100%;
}

.add-todo-component-cta.hidden-cta {
    display: none;
}

.add-todo-component-cta {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.add-todo-component-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 1rem;
}

.add-todo-component-form input,
.add-todo-component-form textarea,
.add-todo-component-form select {
    background-color: white;
    border: 2px solid var(--base-color);
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: white;
    border: 2px solid var(--base-color);
    background-color: var(--base-color);
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
}

.add-todo-component-form #close-todo-form {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: end;
}

.add-todo-component-form #title-form {
    grid-column: 1/3;
    grid-row: 2/3;
}

.add-todo-component-form #description-form {
    grid-column: 1/2;
    grid-row: 3/5;
}

.add-todo-component-form #duedate-form {
    grid-column: 2/3;
    grid-row: 3/4;
}

.add-todo-component-form #priority-form {
    grid-column: 2/3;
    grid-row: 4/5;
}

.add-todo-component-form #submit-todo-button {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: end;
}

.view-completed-items {
    align-self: end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: linear-gradient(to bottom, var(--base-color), #ffe5cf);
    padding: 10px;
    font-size: 0.8rem;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background: linear-gradient(to bottom, var(--base-color), #ffe5cf);
    border-radius: 5px;
}

.urgent {
    color: red;
    font-weight: bold;
}

.complete-todo-action {
    flex: 0 0 var(--complete-todo-action-min-width);
    height: var(--complete-todo-action-min-height);
    border-radius: 5px;
    background-color: white;
    border: 5px solid var(--base-color);
    transition: 1s;
    
}

.complete-todo-action:hover {
        background-color: var(--base-color); /* Change background on hover */
        border: 5px solid white;
    }

.todo-title {
    flex: 8 1 auto;
}

.sub-todo-item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
  background-color: var(--base-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Could be more or less, depending on screen size */
  display: grid;
  grid-template-columns: var(--complete-todo-action-min-width) 1fr 8rem;
}

#modal-content #modal-close {
    justify-self: center;
}

#modal-content .todo-description {
    grid-column: 1/3;
}


#modal-content .todo-delete-button,
#modal-content .todo-save-button {
    grid-column: 1/4;
    justify-self: end;
}

#modal-content #excitment-modal{
    grid-column: 1/3;
}
#modal-content #excitment-modal-label {
    grid-column: 1/4;
}

#workspace-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#workspace-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
}

#workspace-modal-title {
    grid-column: 1/3;
}

#workspace-modal-close {
    grid-column: 3/4;
}

#workspace-modal-delete-button {
    grid-column: 1/2;
    grid-row: 2/3;
}
#workspace-modal-save-button {
    grid-column: 3/4;
    grid-row: 2/3;
}


/* TODO app needs UI and some unifying of selectors and rules  */