div {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 90vh;
    padding-top: 70px;
}

.workspace-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    height: 50px;
    background-color: aqua;
}

.workspace-item {
    padding: 1rem;
    box-sizing: border-box;
    min-width: 10rem;
}

.workspace-item.selected {
    height: 50px;
}

.workspace-item.hidden {
    display: none;
}

.add-todo-component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    height: 20px;
}

.add-todo-component.expanded {
    height: 100%;
}

.add-todo-component-cta.hidden-cta {
    opacity: 0;
}

.add-todo-component-cta {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-todo-component-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(4, 1fr);  IMPLICIT */
    gap: 10px;
    padding: 0 1rem;
    overflow: hidden;
}

.add-todo-component-form #title {
    grid-column: 1/3;
    grid-row: 1/2;
}

.add-todo-component-form #description {
    grid-column: 1/2;
    grid-row: 2/4;
}

.add-todo-component-form #duedate {
    grid-column: 2/3;
    grid-row: 2/3;
}

.add-todo-component-form #priority {
    grid-column: 2/3;
    grid-row: 3/4;
}

.add-todo-component-form #cancel-todo {
    grid-column: 1/2;
    grid-row: 4/5;
}
.add-todo-component-form #add-todo {
    grid-column: 2/3;
    grid-row: 4/5;
}



.todo-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.complete-todo-action {
    flex: 1 0 20px;
    height: 50px;
}

.todo-title {
    flex: 8 1 auto;
}

.sub-todo-item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.view-completed-items {
    align-self: center;
}